extend ../../layouts/default.pug
include ../../mixins/product-list.pug
block main
    if(categorysChild)
        +sub-menu-category()
    else 
        include ../../partials/sider.pug
    div(class="content")
        .product-list
            .container.inner-wrap
                .inner-head
                    h1(class="fs-4") Danh sách sản phẩm
                +product-grid(products)
    script(src="/js/category.js") 